.navbar{
  border-radius: 0;
  background-color: #585359;
}

img{
  width:100%;
}

.woman1{
  /*position: absolute;*/
  /*min-width: 100%;*/
  height: 100%;
}

.carousel{
  margin-top: -20px;
}

.services{
  text-align: center;
  /*border: 1px solid red;*/

}
.service-row{
  /*border: 1px solid red;*/
}

.services-intro{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*border: 1px solid red;*/

}

.img-circle{
  /*border-radius:50%;*/
  width:150px;
  height:150px;
}

.service-copy{

  display:inline-block;
  text-align: center;
}

/*.service-copy nth-child (2){
  font-size: 55px;
}*/

.we-care{
  margin-top:0;
  padding:0;
  display: flex;
  flex-direction: column;
}

.we-care img{
  width: 100%;
}

.commit{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height:25vh;
  background-color: #FAFAFA;

}

.grey-bar{
  background-color: #373737;
  color:white;
  text-align: center;
}

.years, .appoint, .hours-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  /*margin: 3px;*/
  /*text-align: center;*/
}

.appoint .fa{
  color: white;
}
.appoint{
  background-color: #DD7B9B;
  color: white;
}

.fa-calendar{
  /*background-color: rgba(66, 66, 66, 0.66);*/
  color: white;
}

.hours-wrapper{

  /*border: 1px solid red;*/


}

.fa{
  color: #DD7B9B;
}



ul{
  list-style-type: none;
}

/*.hours-wrapper, .text-default{
text-align: left;
}*/

.pull-right{
  text-align: right;
}

.text-default{
  margin-right: 50px;
}

.info{
  margin-top: 20px;
  text-align: center;
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  /*background-color: #B8B8B8;*/
}

.info h1{
  border-bottom: 1px solid black;
  display: inline-block;
}

.artist-header{
  text-align: center;
  margin-top: 20px;
  margin: 0;
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.artist-header h1{
  border-bottom: 1px solid black;
  display: inline-block;
}

.profile-wrap{
  text-align: center;
  /*width:100%;*/
  /*margin:10px;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  /*border: 1px solid red;*/
}



.profile{
  border: 5px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 1px solid red;*/
  /*margin:10px;*/
  /*width:27%;*/
}

.profile img{
  max-width:78px;
  max-height: 78px;
  border-radius: 70%;
}

/*Paralax effect*/
.parallax {
    /* The image used */
    background-image: url("../img/laughing.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}







.bg-grey {
      background-color: #f6f6f6;
  }

  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #FF69B4;
  }
  /*.carousel-indicators li {
      border-color: #f4511e;
  }*/
  .carousel-indicators li.active {
      background-color: #DD7B9B;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
      color:white;
      text-shadow: 2px 2px 0px black;
  }
  .item span {
      font-style: normal;
  }

  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
.cat{
  width:150px;
  height:150px;
  border-radius:100%;
  display:block;
  margin:0 auto;
  /*margin-top: 150px;*/
  vertical-align:middle;

}

#myCarousel{
  margin-top: 10px;
}

.reviews{
/*border:1px solid red;*/
height:65vh;
text-align: center;
}
